:root {
    --cell-width: 30px;
    --cell-height: 30px;
    --cell-border: 1px solid #ccc;
    --cell-background: #fff;
    --cell-background-dark: #708bd6;
    --cell-background-user: #52d38c;
    --bullet-width: 20px;
    --bullet-height: 20px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    /* padding: var(--cell-width); */
    width: 900px;
    margin: 0 auto;

}

.maze-container {
    display: flex;
    position: relative;
}

#maze {
    display: grid;
    grid-template-columns: repeat(32, var(--cell-width));
    background-color: aqua;
    margin: 0 auto;
}

#below-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 2%;
}

.cell, .solid {
    width: var(--cell-width);
    height: var(--cell-width);
    box-sizing: border-box;
    border: var(--cell-border);
}

.cell {
    background-color: var(--cell-background);
}

.solid {
    background-color: var(--cell-background-dark);
}

.user, .bullet {
    width: var(--cell-width);
    height: var(--cell-width);
    border: var(--cell-border);
    display: flex !important;
    position: absolute;
    z-index: 100;
}

.user {
    background-image: 
        url('asset/robotball/skeleton-animation_00.png'),
        url('asset/robotball/skeleton-animation_01.png'),
        url('asset/robotball/skeleton-animation_02.png'),
        url('asset/robotball/skeleton-animation_03.png'),
        url('asset/robotball/skeleton-animation_04.png'),
        url('asset/robotball/skeleton-animation_05.png'),
        url('asset/robotball/skeleton-animation_06.png'),
        url('asset/robotball/skeleton-animation_07.png'),
        url('asset/robotball/skeleton-animation_08.png'),
        url('asset/robotball/skeleton-animation_09.png'),
        url('asset/robotball/skeleton-animation_10.png'),
        url('asset/robotball/skeleton-animation_11.png'),
        url('asset/robotball/skeleton-animation_12.png'),
        url('asset/robotball/skeleton-animation_13.png'),
        url('asset/robotball/skeleton-animation_14.png'),
        url('asset/robotball/skeleton-animation_15.png');

    background-size: 100% 100%; /* Adjust the size based on your needs */
    animation: animateBackground 30s linear infinite; /* Adjust the duration based on your needs */
    margin: 0; /* Reset margin to remove default spacing */
}

.bullet {
    background-color: var(--cell-background-user);
    transition: all 0.2s ease-in-out;
    border-radius: 100%;
    width: var(--bullet-width);
    height: var(--bullet-height);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

.Left {
    transform: none !important;
}

.Right {
    transform: scaleX(-1) !important;
}

.Down {
    transform: rotate(-1.52rad) !important;
}

.Up {
    transform: rotate(1.6rad) !important;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: var(--cell-width);
}

th, td {
    border: 1px solid #dddddd;
    text-align: center ;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

#status {
    margin-top: var(--cell-width);
    height: 300px;
    border: 1px solid #ccc;
    overflow: auto;
    padding: 10px;
    /* padding-top: 60px; */
    display: grid;
    grid-template-columns: 100%;
    position: relative;
}
.smallwindow_name{
    display: flex;
    position: sticky;
    top: 0%;
    left: 10px;
    z-index: 200; /

}
#scoreboard {
    margin-top: var(--cell-width);
}
.scoreboard_row {
    color:#5fc58d;
    font-weight: 800;
}
@keyframes animatedUser {
    from { background-position: 0 0; }
    to { background-position: -1500% 0; } /* Adjust the percentage based on the number of images */
}